<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin/postagens"><button class="btn btn-success">Postagen</button></a>
   <a href="/admin/categorias"> <button class="btn btn-success">Categorias</button></a>
</body>
</html>