
 <div class="card mt-4">
        <div class="card-body">
            <h2>{{titulo}}</h2>
            <hr>
            <small>{{data}}</small><br>
            <hr>
            <p>{{conteudo}}</p>
            
            <br>
           
           
                 
        </div>
    </div>